**/.DS_Store
**/*.pyc
__pycache__


# Jupyter Notebook
.ipynb_checkpoints

# If you are using PyCharm # 
.idea

# Visual Studio Code # 
.vscode
.history


# project
/data
logs*

src/test.py
memory_reports
out*